{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
<!-- Display heading -->
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="heading auth-headings">{% trans "Confirm Email Address" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            <p class="paragraph">
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                    href="mailto:{{ email }}">{{ email }}</a> is an email address for user
                <strong>{{ user_display }}</strong>.{% endblocktrans %}
            </p>
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    <button class="btn btn-text btn-colour right" type="submit">{% trans 'Confirm' %}</button>
                {% endslot %}
            {% endelement %}
        {% else %}
            <p class="paragraph">
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
            <p class="paragraph">
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
            </p>
    {% endif %}
    </div>
</div>

{% endblock content %}
