{% extends "base.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Sign In heading -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <h1 class="heading">{% trans "Sign In" %}</h1>
        </div>
        <div class="col"></div>
    </div>

    <!-- Welcome back and redirect to sign up message -->
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <p class="text paragraph">
                {% blocktrans %}Welcome back to The Globetrotter's Gazette. If you have not created an account yet, then
                please <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}
            </p>
        </div>
        <div class="col"></div>
    </div>

    <!-- Username and password forms -->
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>
{% endblock %}
