{% extends "base.html" %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <!-- Sign Out heading -->
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1 class="heading auth-headings">{% trans "Sign Out" %}</h1>
        </div>
    </div>

    <!-- User confirmation for signing out -->
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <p class="paragraph">
                {% trans 'Are you sure you want to sign out?' %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'account_logout' %}" >
                {% csrf_token %}
                {{ redirect_field }}
                <button type="submit" class="btn btn-text btn-colour right">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
