{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Register" %}
{% endblock head_title %}

{% block content %}
<!-- Register heading -->
 <div class="container">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="heading">{% trans "Register" %}</h1>
    </div>
    <div class="col-lg-6 offset-lg-3">
        <p class="text paragraph">
            {% blocktranslate %}Welcome to The Globetrotter's Gazette. If you already have an account then please sign in <a
                href="{{ login_url }}" class="link">here</a>.{% endblocktranslate %}
        </p>
    </div>
    {% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endif %}
 </div>

{% endblock %}
