* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAF9F9;
}

.navbar {
    padding: 0;
}

.navbar-colour {
    background-color: #06585D;
}

.navbar-text {
    color: #FAF9F9;
}

/* .nav-link:focus,
.nav-link:hover {
    color: #FAF9F9;
} */

/******************************** Footer */

.footer {
    background-color: #06585D;
    color: #FAF9F9;
}

/* style icons to be white colour and make bigger */
.social-links i {
    color: #FAF9F9;
    width: 32px;
    height: 32px;
    margin: 0;
    font-size: 2rem;
}

.social-links li {
    padding: 0 3% 1%;
}

.btn-colour {
    background-color: #5AAFC2;
    color: #181720;
}