{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% block heading %}
<div class="row">
  <div class="col">
      <!-- Display heading indicating that user is creating a post -->
      <h2 class="heading text-center">Create a post:</h2>
  </div>
</div>
{% endblock heading %}

<!-- Form to allow user to create their own blog post -->
<div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb-3">
        {% if user.is_authenticated %}
        <form action="" method="post">
          <!-- Bootstrap input group for photo upload -->
          <div class="input-group mb-3">
            <button class="btn btn-colour btn-text btn-outline-secondary" type="button" id="upload-img">Upload photo</button>
            <input  id="image-name" type="input" class="form-control" placeholder="No file selected" aria-label="" aria-describedby="upload-img" disabled>
          </div>
          <!-- Hidden input field to store image url from Cloudinary -->
          <input type="hidden" id="image_url" name="image_url">
            {{ post_form|crispy|safe }}
            {% csrf_token %}

            {% block formbuttons %}
            <!-- Save/Cancel buttons -->
            <div class="text-center">
                <button class="btn btn-text btn-success" type="submit">Save</button>
                <button class="btn btn-text btn-danger" type="button" data-bs-toggle="modal"
                    data-bs-target="#cancelPostModal" aria-labelledby="cancelPostModalLabel" aria-hidden="true">Cancel</button>
             </div>
            {% endblock formbuttons %}
        </form>
        {% endif %}
    </div>
</div>

{% block modal %}
<!-- Bootstrap modal appears if user presses cancel as defensive programming -->
<div class="modal fade" id="cancelPostModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title heading">Cancel Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="paragraph">Are you sure you want to cancel creating your post?</p>
          <p class="paragraph">Your changes will <strong>not</strong> be saved.</p>
        </div>
        <div class="modal-footer">
            <!-- Redirect user back to homepage if they choose to cancel their changes -->
          <a class="btn btn-danger btn-margin btn-text" href="{% url 'cancel_post' %}" role="button">Yes cancel</a>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">No, go back</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
{% endblock content%}