{% extends "base.html" %}


{% block indeximage %}
<!-- Photo by Vish Pix from Pexels: https://www.pexels.com/photo/cathedral-over-buildings-in-helsinki-23227693/ -->
<img src="https://res.cloudinary.com/dy1xfelbe/image/upload/c_crop,w_1920,h_900/v1722858464/helsinki-cathedral_lxxf41.webp" alt="Helsinki Cathedral" class="img-fluid">
{% endblock indeximage %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <h2 class="heading text-center">Welcome to the Globetrotter's Gazette</h2>
    </div>
</div>
{% endblock %}