{% extends './post_list.html' %}

{% block content %}
{% block heading %}
<div class="row text-center">
    <div class="col">
        <!-- Checks to see if the search_list context exists and is True -->
        {% if search_list %}
        <!-- sets the var region to the region of the first post in the post_list -->
        <h1 class="heading">Search Results:</h1>
        {% endif %}
    </div>
</div>
{% endblock heading %}

<div class="row">
    <!-- Creates a card for each post by looping through each post in the queryset -->
    {% for post in search_list %}
    <div class="col-md-6 col-lg-4">
        <div class="card my-2">
            <!-- Displays image at top of card -->
            <img src=" {{ post.image_url }}" class="card-img-top" alt="Picture of {{ post.country }}">
            <h3 class="heading card-title pt-2 ps-2">{{ post.title }}</h3>
            <h5 class="heading card-subtitle ps-2">{{ post.country }}</h5>
            <a href="{% url 'post_detail' post.slug %}" class="card-link ps-2">Read here</a>
            <div class="card-body">
                <p class="paragraph card-text">By: {{ post.user }}</p>
                <p class="paragraph card-text">Posted on: {{ post.created_on }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}