{% extends 'base.html' %}

{% block content %}
<!-- Displays title of the page -->
<div class="row">
    <div class="col">
        <h1 class="heading fw-semibold text-center">{{ about.title }}</h1>
    </div>
</div>

<!-- Displays profile picture from profile instance -->
<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <img src="{{ about.profile_picture.url }}" alt="Mariam in Sydney" class="img-thumbnail">
    </div>
</div>

<!-- Displays bio -->
<div class="row">
    <div class="col-md-8 offset-md-2">
        <!-- .html to render text from django quill editor
         Adapted from: https://stackoverflow.com/questions/65029744/django-quill-editor-display-saved-field -->
        <p class="paragraph">{{ about.content.html|safe }}</p>
    </div>
</div>

<!-- Displays when content was last updated -->
 <div class="row">
    <div class="col-md-8 offset-md-2">
        <p class="paragraph fs-6">Updated on: {{ about.updated_on|date:"j N Y, H:i" }}</p>
        <hr>
    </div>
 </div>

 <!-- Link for latest post by admin -->
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mb-2">
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-info btn-text">Click here to read my latest post!</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mb-3">
        <a href="{% url 'index' %}" class="btn btn-colour btn-text"><i class="fa-solid fa-house"></i> Home</a>
    </div>
  </div>

{% endblock content %}