{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col">
            <!-- Display heading indicating that user is editing their profile -->
            <h2 class="heading text-center">Editing <strong>{{ user }}</strong>'s profile:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <!-- Only show edit profile form if user is logged in -->
            {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {{ profile_form|crispy|safe }}
                {% csrf_token %}
                <!-- Save/Cancel buttons -->
                 <div class="text-center">
                    <button class="btn btn-text btn-success" type="submit">Save</button>
                    <button class="btn btn-text btn-danger" type="button" data-bs-toggle="modal"
                        data-bs-target="#cancelChangesModal" aria-labelledby="cancelChangesModalLabel" aria-hidden="true">Cancel</button>
                 </div>
            </form>
            {% endif %}
            <!-- Redirect user back to profile page after changes have been saved / no changes were made -->
            <div class="text-center mb-3">
              <a class="btn btn-colour btn-margin btn-text" href="{% url 'profile_page' user.username %}" role="button"><i
                class="fa-solid fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap modal appears if user presses cancel as defensive programming -->
    <div class="modal fade" id="cancelChangesModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Cancel Changes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to cancel these changes?</p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-danger btn-margin btn-text" href="{% url 'cancel_profile_changes' user.username %}" role="button">Cancel</a>
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Keep editing</button>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/editProfile.js' %}"></script>
{% endblock scripts %}
