{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Display heading of [username]'s profile' -->
    <div class="row">
        <div class="col">
            <h2 class="heading text-center">{{ user }}'s profile</h2>
        </div>
    </div>

    <!-- display user's profile picture -->
    <div class="row">
        <div class="col text-center">
            <img src="" alt="{{ user }}'s profile picture" class="img-thumbnail border rounded">
        </div>
    </div>

    <div class="row">
        <!-- display user's name -->
        <div class="col">
                <h5 class="heading">Name:</h5>
                <!-- checks to see if p element is empty before applying the styling -->
                <p class="text paragraph {% if profile.name %}border border-dark-subtle rounded{% endif %}">{{ profile.name }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's birthday -->
        <div class="col">
                <h5 class="heading">Birthday:</h5>
                <p class="text paragraph {% if profile.birthday %}border border-dark-subtle rounded{% endif %}">{{ profile.birthday }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's email -->
        <div class="col">
                <h5 class="heading">Email:</h5>
                <p class="text paragraph border border-dark-subtle rounded">{{ user.email }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's bio -->
        <div class="col">
                <h5 class="heading">Bio:</h5>
                <p class="text paragraph {% if profile.bio %}border border-dark-subtle rounded{% endif %}">{{ profile.bio }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's instagram link -->
        <div class="col">
                <h5 class="heading">Instagram:</h5>
                <p class="text paragraph {% if profile.instagram %}border border-dark-subtle rounded{% endif %}">{{ profile.instagram }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's twitter/x link -->
        <div class="col">
                <h5 class="heading">X:</h5>
                <p class="text paragraph {% if profile.twitter_x %}border border-dark-subtle rounded{% endif %}">{{ profile.twitter_x }}</p>
        </div>
    </div>

    <div class="row">
        <!-- centre items in the column -->
        <div class="col text-center">
            <!-- display button to edit profile -->
            <a class="btn btn-colour btn-margin btn-text text-nowrap" href="" role="button">Edit Profile</a>
        </div>
    </div>

</div>
{% endblock %}