{% extends 'base.html' %}

{% block content %}
<!-- 100% width until tablet breakpoint -->
<div class="container-sm"> 
    <!-- Display heading of [username]'s profile' -->
    <div class="row">
        <div class="col">
            <h2 class="heading text-center">{{ user }}'s profile</h2>
        </div>
    </div>

    <!-- display user's profile picture -->
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center">
            <img src="{{ user.profile.profile_pic.url }}" alt="{{ user }}'s profile picture" class="img-thumbnail border rounded">
        </div>
    </div>

    <div class="row">
        <!-- display user's name -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading">Name:</h5>
            <!-- checks to see if p element is empty before applying the styling -->
            <p class="paragraph profile-text {% if profile.name %}border border-dark-subtle rounded bg-light-subtle
            {% endif %}">
                {{ profile.name }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's birthday -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading">Birthday:</h5>
            <p class="paragraph profile-text {% if profile.birthday %}border border-dark-subtle rounded bg-light-subtle
            {% endif %}">
                {{ profile.birthday }}</p>
        </div>
    </div>

    <!-- Email is only displayed to the user who is logged in -->
    {% if request.user %}
    <div class="row">
        <!-- display user's email -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading d-inline">Email:</h5>
            <!-- Info icon which can be clicked on to reveal text underneath -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#emailInfo"
                aria-expanded="false" aria-controls="emailInfo"><i class="fa-solid fa-circle-info" id="email-info"></i></button>
            <!-- When button is clicked, the user is informed that their email is not visible to others -->
            <div class="collapse" id="emailInfo">
                <div class="card border-info paragraph profile-text" id="email-vis-card">
                    * Email is not visible to others.
                </div>
            </div>
            <!-- Add some extra bootstrap classes to grey out the field to visually indicate it is not visible to other users -->
            <p
                class="paragraph profile-text border border-dark-subtle rounded bg-secondary-subtle bg-gradient text-body-secondary">
                {{ user.email }}</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <!-- display user's bio -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading">Bio:</h5>
            <p class="paragraph profile-text {% if profile.bio %}border border-dark-subtle rounded bg-light-subtle
            {% endif %}">{{ profile.bio }}
            </p>
        </div>
    </div>

    <div class="row">
        <!-- display user's instagram link -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading">Instagram:</h5>
            <p class="paragraph profile-text {% if profile.instagram %}border border-dark-subtle rounded bg-light-subtle
            {% endif %}">
                {{ profile.instagram }}</p>
        </div>
    </div>

    <div class="row">
        <!-- display user's twitter/x link -->
        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
            <h5 class="heading">X:</h5>
            <p class="paragraph profile-text {% if profile.twitter_x %}border border-dark-subtle rounded bg-light-subtle
            {% endif %}">
                {{ profile.twitter_x }}</p>
        </div>
    </div>

    <div class="row">
        <!-- centre items in the column -->
        <div class="col text-center">
            <!-- will only show the edit button to the user for their own profile -->
            {% if request.user == profile.user %}
            <!-- display button to edit profile -->
            <a class="btn btn-colour btn-margin btn-text text-nowrap" href="{% url 'edit_profile' user.username %}" role="button">Edit Profile</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}